@model PracaMagisterska.Models.TS_price_PRICELIST_ACTIONS

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TS_price_PRICELIST_ACTIONS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="action_id" />
            <div class="form-group">
                <label asp-for="action_name" class="control-label"></label>
                <input asp-for="action_name" class="form-control" />
                <span asp-validation-for="action_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shown_before_acceptence" class="control-label"></label>
                <input asp-for="shown_before_acceptence" class="form-control" />
                <span asp-validation-for="shown_before_acceptence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shown_on_accept_screen" class="control-label"></label>
                <input asp-for="shown_on_accept_screen" class="form-control" />
                <span asp-validation-for="shown_on_accept_screen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shown_on_general" class="control-label"></label>
                <input asp-for="shown_on_general" class="form-control" />
                <span asp-validation-for="shown_on_general" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
