@{

    ViewData["Title"] = "Home Page";

}


<div class="text-center">
    <h1 class="display-4">Testy łącza SQL string</h1>
 
</div>
<h3> Run tests for db</h3>
<div>
    <label for="testType">Choose test to run.</label>
    <select name="testType" id="testType">

        <option value="0">Select *</option>
        <option value="1"> Select * with order by </option>
        <option value="2">Select 2 rows with group by</option>
        <option value="3">Insert into random values</option>
        <option value="4">select procedure</option>
        <option value="5">select order by procedure</option>
        <option value="6">select left join </option>
        <option value="7">select join </option>

        <option value="8">select left join Proc </option>
        <option value="9">select join Proc</option>

        <option value="10">select random </option>
        <option value="11">select random Proc</option>

        <option value="10">select with null </option>
        <option value="11">select with null Proc</option>

        <option value="12">select where date </option>
        <option value="13">select where date Proc</option>

        <option value="14">select where id </option>
        <option value="15">select where id Proc</option>

        <option value="16">select with join where </option>
        <option value="17">select with join where Proc</option>

        <option value="18">remove </option>
        <option value="19">remove Proc</option>
    </select>



    <label for="numOfTests">Number of tests to run.</label>
    <input type="number" id="numOfTests" value="1" />
    <input type="button" id="runTest" value="Run test" />
  
</div>
<div id="resultsContainer">
    @ViewData["total"]
    @model string[]
    <ul>
        @if (Model != null)
        {
            @foreach (var row in Model)
            {
                <li>@row</li>
            }
        }
    </ul>
    <table id="resultTable"><th style='text-align: center'> time taken</th> <th style='text-align: center'>Result</th></table>
</div>
@section Scripts{
    <script>

        $(function () {
           
            $("#runTest").click(function () {
            var num = $("#numOfTests").val();
            console.log(num);
            //$("#numOfTests").val()
            for (let i = 0; i < parseInt(num); i++) {
              
                    $.ajax({
                        type: "Get",
                        url: "/Home/RunTest?testType=" + $("#testType").val() + "&numOfTests=" + 1,
                        success: function (data) {
                            console.log(data);
                            // window.location.href = data.returnURL;

                            if (data.arrayOfData != null)
                                createTableOfResults(data.arrayOfData, data.time);
                            //download(data.csvFile, 'test.csv', 'text/csv;encoding:utf-8');
                        },
                        error: function (response) {
                            console.log(response.responseText);
                        }
                    });
              
                }
            });
        });
        function createTableOfResults(data, timeElapsed) {
            let jsString = "";
            for (i in timeElapsed) {
                jsString += "<tr><td>" + timeElapsed[i] + " ms </td>";
                jsString += "<td><table>";
                if (data.count < 50) {
                    for (j in data) {

                        jsString += "<tr style='text-align: right'><td>" + data[j] + "</td></tr>"
                    }
                }
                jsString += "</table></td></tr>"
            }

            $("#resultTable").append(jsString);
        }


        // The download function takes a CSV string, the filename and mimeType as parameters
        // Scroll/look down at the bottom of this snippet to see how download is called
        var download = function (content, fileName, mimeType) {
            var a = document.createElement('a');
            mimeType = mimeType || 'application/octet-stream';

            if (navigator.msSaveBlob) { // IE10
                navigator.msSaveBlob(new Blob([content], {
                    type: mimeType
                }), fileName);
            } else if (URL && 'download' in a) { //html5 A[download]
                a.href = URL.createObjectURL(new Blob([content], {
                    type: mimeType
                }));
                a.setAttribute('download', fileName);
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            } else {
                location.href = 'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
            }
        }

     
    </script>
}